<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Data File: </ion-label>
    <ion-select
      [selectedText]="selectedElectionFileName"
      [(ngModel)]="selectedElectionFileName"
      value=""
      [compareWith]="compareWith"
      interface="popover"
      placeholder="Select an EDF"
    >
      <ng-container *ngFor="let availableElectionFileName of availableElectionFileNames">
        <ion-select-option *ngIf="availableElectionFileName.trim().length > 0" value="{{availableElectionFileName}}"
          >{{availableElectionFileName}}</ion-select-option
        >
      </ng-container>
    </ion-select>
  </ion-item>
  <div class="center-button">
    <ion-button (click)="closeModal()" translate>CLOSE</ion-button>
  </div>
</ion-content>
